.work-text{
    display: flex;
    flex-direction: column;
}
.prj-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
 }

.project1 {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 equal columns */
    grid-template-rows: auto; /* Rows will auto-size based on content */
    gap: 10px; /* Adjust as needed */
    position: relative; /
}
.prj-img {
    grid-column: 1 / span 7; /* Image spans from column 1 to 7 */
    grid-row: 1; /* Image stays in the first row */
    z-index: 1; /* Ensure the image is below the text */
}

.project-png{
    max-width: 700px; /* Maximum width */
    width: 100%; /* Responsive width */
}
.txt-header {
    grid-column: 7 / span 4; /* Text spans from column 7 to 13 */
    grid-row: 1;
    z-index: 2; /* Ensure the text is above the image */
    color: #000000; /* Text color for contrast */
    align-self: center;
    text-align: end;
}

.txt-desc {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6); /* Optional: background for readability */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}