:root {
    font-family: 'Chillax', sans-serif;
    --clr-bg : #25283d;
    --clr-fg : #181866;
    --clr-highlight : #00FFFF;
    --clr-grey : #96abc6;
}

html{
    cursor: url("https://img.icons8.com/?size=40&id=43151&format=png&color=000000"), auto
}

.light-mode{
    --clr-bg : #F5F7FA;
    --clr-fg : #2ECC71;
    --clr-highlight : #7639bb;
    --clr-grey : #333333;
}