.avatar-el > img {
    display: block;
    margin: auto;
    border-radius: 2rem;
    max-width: 500px;
}
.abt-desc {
    margin-top: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    z-index: 1;
    position: relative;
    padding: 10px 50px;
}
.abt-me{
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    color: var(--clr-highlight);
    background-color: var(--clr-fg);
    border-radius: 50%;
    z-index: 5;
    grid-column-start: 3;
    grid-row-start: 1;
    transform: rotate(43deg);
    top: 10%;
    right: 30%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
    animation: rotate 5s linear infinite; /* Animation properties */
}

/* Keyframes for the rotation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.p1 {
    color: white;
    font-size: 2rem;
    font-kerning: none;
    grid-column: span 3 / span 3;
}

.p2 {
    font-size: 1.3rem;
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.p3 {
    font-size: 1.3rem;
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}
        
.para-style{
    color: var(--clr-grey);
    font-kerning: none;
}

.list-style {
    display: flex;
    gap: 10px; 
    align-items: center; 
}

.list-style li {
    list-style-type: none; 
}

.list-style img {
    width: 50px; 
    height: auto; 
}

.sub-head{
    color: white;
    padding: 10px 0px;
}

.stack-el{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 480px){
    .avatar-el > img {
        width: 80%;
    }
    .abt-desc {
        display: flex;
        flex-direction: column;
        padding: 5px 25px;
    }
    .abt-me{
        display: none;
    }
    .p1{
        font-size: 1rem;
        text-align: center;
    }
}


/* styles.css */

/* Hide collapsible content by default */
.collapsible-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    display: none;
  }
  
  /* Make collapsible content visible only on screens 480px and smaller */
  @media (max-width: 480px) {
    .collapsible-content {
      display: block;
    }
  
    .collapsible-content:not(.collapsed) {
      max-height: 500px; /* Adjust this based on your content */
    }
  
    .toggle-button {
      display: inline-block;
    }
  
    .always-visible-content {
      display: none; /* Hide the content that is always visible on larger screens */
    }
  }
  
  /* Hide the collapsible content and show the original content on larger screens */
  @media (min-width: 481px) {
    .collapsible-content {
      display: none;
    }
  
    .toggle-button {
      display: none;
    }
  
    .always-visible-content {
      display: block;
    }
  }
  
  /* Style the button */
  .toggle-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--clr-fg);
    color: white;
    border: none;
    cursor: url("https://img.icons8.com/?size=40&id=52114&format=png&color=000000");
    border-radius: 5px;
    border: none;
  }
  .toggle-button:hover{
    background-color: var(--clr-highlight);
    color: var(--clr-fg);
  }
 .btn-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 }

 .resume-btn {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #0f988e;
  letter-spacing: 1px;
  padding: 0 12px;
  text-align: center;
  width: 200px;
  height: 50px;

  font-size: 18px;
  font-family: 'Chillax', sans-serif;
  font-weight: bold;
  
  border-radius: 3px;
  outline: none;
  user-select: none;
  cursor: pointer;
  transform: translateY(0px);
  position: relative;
  box-shadow:
    inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #0f988e,
    0 3px 2px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
  background: #00cba9;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  transition: 150ms all ease-in-out;
}

.resume-btn .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  transition: all 0.5s ease-in-out;
}

.resume-btn:active {
  transform: translateY(3px);
  box-shadow:
    inset 0 16px 2px -15px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 1px 20px rgba(0, 0, 0, 0.1),
    0 0 0 #0f988e,
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}

.resume-btn:hover .btn-text {
  transform: translateX(160px);
}
.resume-btn:hover .icon {
  transform: translate(62px);
}

.btn-text {
  transition: all 0.5s ease-in-out;
}
